/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap:50px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: 99px;
    margin-right: 80px;
}
li{
    list-style: none;
    color: #636060;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.icon{
    margin-left: 99px;
}
nav{
    width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.div-img{
    background-image: url("../images/Rectangle 1.png");
    width: auto;
    height: 606px;
    -o-object-fit: cover;
       object-fit: cover;
    background-size:cover ;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 84px;

}
h1{
    color: #FFF;
    font-family: Helvetica;
    font-size: 79px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.div-img-p {
    color: #FFF;
    font-family: Helvetica;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container-p{
    color: #636060;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 37px;
    width: 235px;
 }
 h2{
    color: #010101;
    font-family: Helvetica;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 9px;
 }
 .container{
    margin-left: 100px;
    margin-right: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
 }
 h3{
    color: #343232;
    font-family: Helvetica;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 23px;
 }
 .cont-p{
    color: #636060;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 9px;
 }
 .main-cont1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap:33px;
   
 }
.main-cont2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap:33px;
    margin-top: 54px;
    margin-bottom: 140px;
}
.two-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#img-li > img{
    width: 32px;
    margin-right: 10px;
}
#img-li{
    display: none;
}


@media (max-width:1410px) {
    .two-div{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .container{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        gap:10px;
        margin-bottom: 100px;
    }
    .container-p{
        width: 100%;
    }
    
}
@media (max-width:1000px){
    #img-li{
        display: inline-block;
    }
    li{
        display: none;
    }

}
@media (max-width: 480px) {
    .cont-p{
        font-size: 13px;
    }
    h3{
        font-size: 16px;
        margin-bottom: 5px;
    }
}
 